<h1>Welcome to the homepage of Glasgae Pug Life!</h1>

<h2>Here you'll find Purrfect pets Fur adoption. To Fetch all owner and pet data, use the nav bar at the top of each page. Feel free to Sniff around and don't be afraid to accidentally Cry Wolf when you don't know something!</h2>

<h3>Above all, always remember our motto: I didn't choose the Pug Life, the Pug life chose me</h3>

<img src="images/pug_life.png" class= "homepage_image" alt="gangsta pug">
