<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Glasgae Pug Life</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">

  </head>
  <body>
    <div class="dropdown">
      <button class="dropbtn">Navigation bar</button>
      <div class="dropdown-content">
    <nav>
      <ul>
        <li> <a href="/home">Home</a> </li>
        <li> <a href="/all-pets">Show all pets</a> </li>
        <li> <a href="/matched-owners">Show all previous matches</a> </li>
        <li> <a href="/home/owners">Show all owners</a> </li>
        <li> <a href="/contact">Contact info</a> </li>
      </ul>
    </nav>
  </div>
</div>

  <%= yield %>

  </body>

</html>
