<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Glasgae Good Boys</title>
    <!-- <link rel="stylesheet" href="/style.css"> -->
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/home">Home</a> </li>
        <li> <a href="/all-pets">Show all pets</a> </li>
        <li> <a href="/matched-owners">Show all previous matches</a> </li>
        <li> <a href="/tips">Tips for animal care</a> </li>
        <li> <a href="/contact">Contact info</a> </li>
      </ul>
    </nav>
  <%= yield %>

  </body>
</html>
