<h1>All happy owners and their pets</h1>

<% @adoptions.each do |adopt| %>
  <p> Match: </p>
  <p> Owner name: <%= adopt.owner.name %></p>
  <p> Adopted pet: <%= adopt.pet.name %></p>
<hr/>
<% end %>
