<form action="/home/owners" method="post">

  <label for="name"> Name of owner: </label>
  <input class = "pet_form" class = "pet_form" id = "name" type="text" name="name" required>
  <br>
  <label for="funds"> Funds: </label>
  <input class = "pet_form" class = "pet_form" id = "funds" type="number" name="funds">
  <br>

  <div class = "button_container">
  <input class = "buttons" type="submit" value="Submit new owner">
  </div>
</form>
