
<form action="/all-pets" method="post">

  <label for="name"> Name of pet: </label>
  <input class = "pet_form" id = "name" type="text" name="name" required>
  <br>
  <label for="type"> Type of animal: </label>
  <input class = "pet_form" id = "type" type="text" name="type" required>
  <br>
  <label for="breed"> Breed: </label>
  <input class = "pet_form" id = "breed" type="text" name="breed" required>
  <br>
  <label for="age"> Age: </label>
  <input class = "pet_form" id = "age" type="number" name="age" required>
  <br>
  <label for="size"> Size: </label>
<select class = "pet_form" id = "size" name="size" required>
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="big">Big</option>
  </select>
  <br>
  <label for="sex"> Sex: </label>
  <select class = "pet_form" id = "sex" name="sex" required>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <br>
  <label for="admission-date"> Admission date: (enter as YYYYMMDD) </label>
  <input class = "pet_form" id = "admission-date" type="number" name="admission_date" required>
  <br>
  <label for="adoptable"> Adoptable: </label>
  <select class = "pet_form" id = "adoptable" name="adoptable" required>
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select>
  <br>
  <label for="cost"> Cost: </label>
  <input class = "pet_form" id = "cost" type="number" name="cost" required>
  <br>
<div class = "button_container">
  <input class = "buttons" type="submit" value="Register Pet">
</div>

</form>
